* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ccc;
}


nav {
    width: 80%;
    margin: auto;
    height: auto;
    font-size: 1.3rem;
    font-family: DM Mono Medium;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: block;
    text-decoration: none;
    width: 100%;
    max-width: 10em;
    height: 2.7rem;
    text-align: center;
    color: black;
    box-shadow: 0 0px 5px #a3a0a0;
    margin: 10px;
    padding: 5px;
}

nav a:hover {
    transform: scale(1.2);
}

main {
    padding: 1rem;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.photo {
    border: 1px solid black;
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: none;
    position: relative;
    box-shadow: 1px 0 2px black;
    background-color: #000;
    color: #ccc;
}

.springs {
    position: relative;
    width: 80%;
    margin: auto;
    z-index: -1;

}

.spring {
    border: 1px solid black;
    height: 7rem;
    margin-top: -70px;
    border-radius: 50%;
}


.day-time {
    background-color: black;
    height: fit-content;
    color: white;
    width: 100%;
    max-width: 25rem;
    display: flex;
    justify-content: space-around;
    border: 2px double white;
}

#current-time, #current-day {
    font-size: 2rem;
}

.info {
    margin: 5px;
    margin-left: 20px;
    font-family: Quicksand Medium;
}

.info a {
    color: blue;
    text-decoration: none;
}

.content-main {
    width: 100%;
    max-width: 40rem;
}

.goal p {
    font-size: 1.1rem;
    font-family: Dm Mono;

}

.goal {
    border: 2px dashed black;
}

@media screen and (max-width: 800px) {
    nav, nav a {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 10px;
    }

    nav {
        height: auto;
    }

    .content {
        display: block;
        margin: auto;
    }
    
    .frame {
        margin-bottom: 20px
    }

    .photo {
        margin: auto;
    }

}
